
<div class="" style="float:right">
<a href="#/addBlog" class="button medium border"><i class="sl sl-icon-docs"></i> Add Blog</a>
</div>
<div class="row">

			<!-- Listings -->
			<div class="col-lg-12 col-md-12">
				<div class="dashboard-list-box margin-top-0">
					<h4><input type="text" class="form-control" placeholder="Enter search here ...." ng-model="q" ng-keyup="($event.keyCode == 13 && searchFilter())" ></h4>
					<ul>

						<li ng-repeat="row in details">
							<div class="list-box-listing">
								<div class="list-box-listing-img"><a href="#"><img src="{{row.banner_image}}" alt=""></a></div>
								<div class="list-box-listing-content">
									<div class="inner">
										<h3><a href="#">{{row.blog_title}}</a></h3>
										<span>{{row.blog_description}}</span><br>
										<span class="rating-counter">({{row.comments_count}} comments)</span><br>
										<span><p>{{row.created_at}}</p></span>
									</div>
								</div>
							</div>
							<div class="buttons-to-right">
								<a href="#/editBlog/{{row.id}}" class="button gray"><i class="sl sl-icon-note"></i> Edit</a>
								<!-- <a href="#" class="button gray"><i class="sl sl-icon-close"></i> Delete</a> -->
								<a href="#delete-in-dialog" class="sign-in popup-with-zoom-anim button gray" ng-click="delModal(row)"><i class="fa fa-trash-o"></i> Delete</a>
							</div>
						</li>

					</ul>
				</div>



				 <div class="pagination-container margin-top-30 margin-bottom-0">
               	<nav class="pagination">
		<ul >
			<li ng-show="currentPage != 1"><a href="javascript:void(0)" ng-click="init(1)">&laquo;</a></li>
			<li ng-show="currentPage != 1"><a href="javascript:void(0)" ng-click="init(currentPage-1)">&lsaquo; Prev</a></li>
			<li ng-repeat="i in range" ><a href="javascript:void(0)" ng-class="{'current-page' : currentPage == i}" ng-click="init(i)">{{i}}</a>
			</li>
			<li ng-show="currentPage != totalPages"><a href="javascript:void(0)" ng-click="init(currentPage+1)">Next &rsaquo;</a></li>
			<li ng-show="currentPage != totalPages"><a href="javascript:void(0)" ng-click="init(totalPages)">&raquo;</a></li>
		</ul>
					</nav>
		</div>
			

			</div>

			<!-- Delete In Popup -->
			<div id="delete-in-dialog" class="zoom-anim-dialog mfp-hide">

				<div class="small-dialog-header">
					<h3>Alert!</h3>
				</div>

				<!--Tabs -->
				<div class="sign-in-form style-1">
					<div class="tabs-container alt">
						<!-- Register -->
						<div class="tab-content" id="tab2" >
							<p class="form-row form-row-wide">
							<p>Are you sure want to delete?</p>	
							</p>
							<!-- <input type="submit" class="button border fw margin-top-10"  value="Submit" /> -->
							<button type="button" class="button border closed" ng-click="deleteBlog()">submit</button>
							</form>
						</div>

					</div>
				</div>
			</div>
			<!-- Sign In Popup / End -->


			<!-- Copyrights -->
			<div class="col-md-12">
				<div class="copyrights">© 2017 Listeo. All Rights Reserved.</div>
			</div>


<style>


	
#delete-in-dialog, #small-dialog {
    background: #fff;
    padding: 40px;
    padding-top: 0;
    text-align: left;
    max-width: 610px;
    margin: 40px auto;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
}
#delete-in-dialog {
    max-width: 500px;
}

 #delete-in-dialog .mfp-close:hover, #small-dialog .mfp-close:hover {
    background-color: #f91942;
}
#delete-in-dialog .mfp-close:hover, #small-dialog .mfp-close:hover {
    color: #fff;
    transform: rotate(0);
    /* background-color: #66676b; */
}

#delete-in-dialog .mfp-close, #small-dialog .mfp-close {
    color: #666;
    background-color: #e4e4e4;
    border-radius: 50%;
    top: 15px;
    right: 40px;
    width: 40px;
    height: 40px;
}

.og-close:after, .og-close:before, .mfp-close:after, .mfp-close:before {
    top: 4px;
}


</style>
