<div class="row">
			<div class="col-lg-12">

				<div id="add-listing">

				<form name="addlistingForm" method="post" ng-submit="submitLising(addlistingForm)"  ng-validate="addlistingvalidate" enctype='multipart/form-data'>
					<!-- Section -->
					<div class="add-listing-section">

						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-doc"></i> Basic Informations</h3>
						</div>

						<!-- Title -->
						<div class="row with-forms">
							<div class="col-md-12">
								<h5>Business Name <i class="tip" data-tip-content="Name of your business"></i></h5>
								<input class="search-field" type="text" name="business_name" ng-model="listing.business_name" />
							</div>
						</div>

						<!-- Row -->
						<div class="row with-forms">

							<!-- Status -->
							<div class="col-md-6">
								<h5>Category</h5>
								
								<select  class="" ng-model="listing.category" ng-options="item.id as item.name for item in categoryList track by item.id" name="category">
								<option value=""> Choose a Category..</option>	
								</select>
										
							</div>

							<!-- Type -->
							<div class="col-md-6">
								<h5>Keywords <i class="tip" data-tip-content="Maximum of 15 keywords related with your business"></i></h5>
								<input type="text" placeholder="Keywords should be separated by commas" name="keywords" ng-model="listing.keywords">
							</div>

						</div>
						<!-- Row / End -->

					</div>
					<!-- Section / End -->

					<!-- Section -->
					<div class="add-listing-section margin-top-45">

						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-location"></i> Location</h3>
						</div>

						<div class="submit-section">

							<!-- Row -->
							<div class="row with-forms">
								
									<!-- Address -->
								<div class="col-md-12">
									<h5>Address</h5>
									
								<input id="autocomplete" placeholder="Enter your address"
										type="text" ng-model="listing.address" name="address" >
								
								</div>

								<!-- City -->
								<div class="col-md-6">
									<h5>City</h5>
							
								<select class="" ng-model="listing.city" ng-options="item.id as item.name for item in cityList track by item.id" name="city">
									<option value=""> -- Choose a City..</option>	
								</select> 
																
								</div>
							
								<!-- City -->
								<div class="col-md-6">
									<h5>State</h5>
									
									
									<input type="text" id="administrative_area_level_1" name="state" ng-model="listing.state">
								</div>

								<!-- Zip-Code -->
								<div class="col-md-6">
									<h5>Zip-Code</h5>
									<input type="text" id="postal_code" name="zipcode" ng-model="listing.zipcode">
								</div>

								<!-- Country -->
								<div class="col-md-6">
									<h5>Country</h5>
									<input type="text" id="country" name="country" ng-model="listing.country">
								</div>

							</div>
							<!-- Row / End -->

						</div>
					</div>
					<!-- Section / End -->


					<!-- Section -->
					<div class="add-listing-section margin-top-45">

						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-picture"></i> Gallery</h3>
						</div>

						<!-- Dropzone -->

						<div class="submit-section" id="divElement">
							<!-- <form action="/file-upload" class="dropzone" ></form> -->
							<!-- <input type="file"  ngf-select ng-model="vendor.banner" name="banner" file-model="banner" ngf-pattern="'image/*'" ngf-accept="'image/*'"  ngf-multiple="true"> -->
					<input type="file"  name="gallery" ngf-select ng-model="gallery" file-model="gallery" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB"  onchange="angular.element(this).scope().photoChanged(this.files)" multiple ngf-multiple="true" class="" />
					<div class="row" id="result">

						<div class="row col-md-2" ng-repeat="imgs in galleryList"><a class="a-img" href="javascript:;" ng-click="deleteGallery(imgs);"><i class="fa fa-remove "></i></a> <img class="thumbnail" src="{{imgs.result}}" title="imgs.result"></div>

					</div>
					
					
					<!-- <output id="result" /> -->

					</div>
					
					
					</div>
					<!-- Section / End -->


					<!-- Section -->
					<div class="add-listing-section margin-top-45">

						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-docs"></i> Details</h3>
						</div>

						<!-- Description -->
						<div class="form">
							<h5>Description</h5>
							<textarea class="WYSIWYG" name="description" cols="40" rows="3" id="summary" spellcheck="true" ng-model="listing.description"></textarea>
						</div>

						<!-- Row -->
						<div class="row with-forms">

							<!-- Phone -->
							<div class="col-md-4">
								<h5>Phone <span>(optional)</span></h5>
								<input type="text" name="phone" ng-model="listing.phone" >
							</div>

							<!-- Website -->
							<div class="col-md-4">
								<h5>Website <span>(optional)</span></h5>
								<input type="text" name="website" ng-model="listing.website">
							</div>

							<!-- Email Address -->
							<div class="col-md-4">
								<h5>E-mail <span>(optional)</span></h5>
								<input type="text" name="email" ng-model="listing.email">
							</div>

						</div>
						<!-- Row / End -->


						<!-- Row -->
						<div class="row with-forms">

							<!-- Phone -->
							<div class="col-md-4">
								<h5 class="fb-input"><i class="fa fa-facebook-square"></i> Facebook <span>(optional)</span></h5>
								<input type="text" placeholder="https://www.facebook.com/" name="facebook" ng-model="listing.facebook">
							</div>

							<!-- Website -->
							<div class="col-md-4">
								<h5 class="twitter-input"><i class="fa fa-twitter"></i> Twitter <span>(optional)</span></h5>
								<input type="text" placeholder="https://www.twitter.com/" name="twitter" ng-model="listing.twitter">
							</div>

							<!-- Email Address -->
							<div class="col-md-4">
								<h5 class="gplus-input"><i class="fa fa-google-plus"></i> Google Plus <span>(optional)</span></h5>
								<input type="text" placeholder="https://plus.google.com" name="googleplus" ng-model="listing.googleplus">
							</div>

						</div>
						<!-- Row / End -->


						<!-- Checkboxes -->
						<h5 class="margin-top-30 margin-bottom-10">Amenities <span>(optional)</span></h5>
						<div class="in-row margin-bottom-20" style="min-height:200px;">
							
							<div class="col-md-3" ng-repeat="row in amenitiesList">

								
								
							<input  type="hidden" name="amenityId[$index]" ng-init="amenityId[$index] = row.id" ng-model="amenityId[$index]">
							<input  type="hidden" name="amenityName[$index]" ng-init="amenityName[$index] = row.name" ng-model="amenityName[$index]">

							<input id="check-a{{$index}}" type="checkbox" name="amenityValue[$index]" ng-init="amenityValue[$index] = row.id" ng-model="amenityValue[$index]">
							<label for="check-a{{$index}}">{{row.name}}</label>
							</div>
				
						</div>
						<!-- Checkboxes / End -->

					</div>
					<!-- Section / End -->


					<!-- Section -->
					<div class="add-listing-section margin-top-45">
						
						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-clock"></i> Opening Hours</h3>
							<!-- Switcher -->
							<label class="switch" style="display:none"><input type="checkbox" checked><span class="slider round"></span></label>
						</div>
						
						<!-- Switcher ON-OFF Content -->
						<div class="switcher-content">

							<!-- Day -->
							<div class="row opening-day" ng-repeat="row in weekdaysList">
								<div class="col-md-2"><h5>{{row.name}}</h5>
								<input type="hidden" ng-init="weekdays[$index].weekday = row.id" ng-model="weekdays[$index].weekday"></div>
								<div class="col-md-5">
								<select  class="" ng-model="weekdays[$index].opening_time"  ng-options="item.id as item.name for item in timeList track by item.id" name="openingTime" id="openingTime{{$index}}">
								<option value=""> Choose a Opening tiime...</option>	
								</select>
									
								</div>
								<div class="col-md-5">
								<select  class="" ng-model="weekdays[$index].closing_time"  ng-options="item.id as item.name for item in timeList track by item.id" name="closingTime" id="closingTime{{$index}}">
									<option value=""> Choose a Closing tiime...</option>	
								</select>
							
								</div>
							</div>
							<!-- Day / End -->
					
						</div>
						<!-- Switcher ON-OFF Content / End -->

					</div>
					<!-- Section / End -->


					<!-- Section -->
					<div class="add-listing-section margin-top-45">
						
						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-book-open"></i> Pricing</h3>
							<!-- Switcher --> 
							<label class="switch"  style="display:none"><input type="checkbox" checked><span class="slider round"></span></label>
						</div>

						<!-- Switcher ON-OFF Content -->
						<div class="switcher-content">

					<div class="row">
						<div class="col-md-12">
							<table id="pricing-list-container">
								
							</table>
							<a href="javascript:;" class="button add-pricing-list-item" >Add Item</a>
							<a href="#" class="button add-pricing-submenu">Add Category</a>
						</div>
					</div>

						</div>
						<!-- Switcher ON-OFF Content / End -->

					</div>
					<!-- Section / End -->


					<button type="submit" class="button preview" >Preview <i class="fa fa-arrow-circle-right"></i></button>
					</form>
				</div>
			</div>

		
		</div>


		
	<script type="text/javascript" src="assets/ui/scripts/custom.js"></script>
	
	<style>

		#add-listing > div:nth-child(5) > div.switcher-content > div:nth-child > div:nth-child > div:nth-child{
			display: none;
		}

			#result{
		padding: 10px 10px 10px 0px;
    min-height: 140px;
    border: 2px dotted#68bb1c;
	}

	#result>div{
	    padding: 0px 0px 0px 0px;
    width: 125px;
    border: 1px solid #ccc;
    margin: 1px 6px 2px 4px;
    box-shadow: 0px 1px 5px 2px #dcdada;
    height: 120px;
	}

	 .a-img{
	    padding: 0px 5px 1px 5px;
    color: white;
    background: #2a2a2a;
    border-radius: 20px;
    width: 23px;
    height: 23px;
    float: right;
	}
	
</style>
