<div class="notification success closeable" ng-show="urSuccess">
				<p><span>Success!</span> {{urSuccess}}.</p>
				<a class="close"></a>
      </div>
<div class="notification error closeable" ng-show="urFailure"> 
				<p><span>Error!</span> {{urFailure}}.</p>
				<a class="close"></a>
      </div>
<div class="notification error closeable" ng-show="loginErrorText"> 
				<p><span>Error!</span> {{loginErrorText}}.</p>
				<a class="close"></a>
      </div>      
      
                  
<!-- Sign In Popup -->
      <div id="sign-in-dialog" class="zoom-anim-dialog ">

        <div class="small-dialog-header">
          <h3 ng-show="isSet(1)">Sign In</h3>
          <h3 ng-show="isSet(2)">Register</h3>
        </div>

        <!--Tabs -->
        <div class="sign-in-form style-1">

          <ul class="tabs-nav">
            <li ng-class="{ active: isSet(1) }"><a href ng-click="setTab(1)">Log In</a></li>
       	    <li ng-class="{ active: isSet(2) }"><a href ng-click="setTab(2)">Register</a></li>
          </ul>

          <div class="tabs-container alt">

            <!-- Login -->
            <div class="tab-content" id="tab1" ng-show="isSet(1)">
              <form method="post" name="loginForm" id="loginForm" class="login" ng-submit="submitLogin(this)" novalidate>

                <p class="form-row form-row-wide">
                  <label for="username">Username:
                    <i class="im im-icon-Male"></i>
                    <input type="text" class="input-text" name="email" id="email" ng-model="user.email" value="" />
                    <span ng-show="loginForm.$submitted">
						        <span ng-show="loginForm.email.$invalid" class="aerror">The email is required.</span>
                  </label>
                </p>

                <p class="form-row form-row-wide">
                  <label for="password">Password:
                    <i class="im im-icon-Lock-2"></i>
                    <input class="input-text" type="password" name="password" id="password" ng-model="user.password"/>
                    <span ng-show="loginForm.$submitted">
				    <span ng-show="loginForm.password.$invalid" class="aerror">The password is required.</span>
                  </label>
                  <span class="lost_password">
                    <a href="#" >Lost Your Password?</a>
                  </span>
                </p>

                <div class="form-row">
                  <input type="submit" class="button border margin-top-5" name="login" value="Login" />
                  <div class="checkboxes margin-top-10">
                    <input id="remember-me" type="checkbox" name="check">
                    <label for="remember-me">Remember Me</label>
                  </div>
                </div>
                
              </form>
            </div>

            <!-- Register -->
            <div class="tab-content" id="tab2" ng-show="isSet(2)">

              <form method="post" name="signupForm" id="signupForm" class="signup" ng-submit="submitRegister(signupForm)" ng-validate="signupvalidate" enctype='multipart/form-data'>
                
              <p class="form-row form-row-wide">
                <label for="username2">Username:
                  <i class="im im-icon-Male"></i>
                  <input type="text" class="input-text" name="username" id="username2" value="" ng-model="signup.username" />
                </label>
                <label id="username2-error" class="error" for="username2">This field is required.</label>
              </p>
                
              <p class="form-row form-row-wide">
                <label for="email2">Email Address:
                  <i class="im im-icon-Mail"></i>
                  <input type="text" class="input-text" name="email" id="email2" value="" ng-model="signup.email" />
                </label>
                <label id="email2-error" class="error" for="email2">This field is required.</label>
              </p>

              <p class="form-row form-row-wide">
                <label for="password1">Password:
                  <i class="im im-icon-Lock-2"></i>
                  <input class="input-text" type="password" name="password" id="password1" ng-model="signup.password" />
                </label>
                <label id="password1-error" class="error" for="password1">This field is required.</label>
              </p>

              <p class="form-row form-row-wide">
                <label for="password2">Repeat Password:
                  <i class="im im-icon-Lock-2"></i>
                  <input class="input-text" type="password" name="cpassword" id="password2" ng-model="signup.cpassword" />
                </label>
                <label id="password2-error" class="error" for="password2">This field is required.</label>

              </p>

              <input type="submit" class="button border fw margin-top-10" name="register" value="Register" />
  
              </form>
            </div>

          </div>
        </div>
      </div>
      <!-- Sign In Popup / End -->