<div class="row">
			
			<!-- Listings -->
			<div class="col-lg-6 col-md-12">

				<div class="dashboard-list-box margin-top-0">

					<!-- Sort by -->
					<div class="sort-by">
						<div class="sort-by-select">
							<select data-placeholder="All Categories" class="chosen-select" ng-model="searchCategory" ng-change="searchFilter()" ng-options="item.id as item.business_name for item in listingList track by item.id">
								<option value="">All Listings</option>	
							</select>
							<!-- <select data-placeholder="Default order" class="chosen-select-no-single">
								<option>All Listings</option>	
								<option>Tom's Restaurant</option>
								<option>Sticky Band</option>
								<option>Hotel Govendor</option>
								<option>Burger House</option>
								<option>Airport</option>
								<option>Think Coffee</option>
							</select> -->
						</div>
					</div>

					<h4>Visitor Reviews</h4> 

					<!-- Reply to review popup -->
					<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
						<div class="small-dialog-header">
							<h3>Reply to review</h3>
						</div>
						<div class="message-reply margin-top-0">
							<textarea cols="40" rows="3" ng-model="reply_reviews"></textarea>
							<button class="button" ng-click="replyReview()">Reply</button>
						</div>
					</div>

					<ul>

						<li>
							<div class="comments listing-reviews">
								<ul>
									<li ng-repeat="row in details">
										<div class="avatar" ng-show="row.avatar">
											<img src="row.avatar" alt="" /></div>
										<div class="avatar" ng-show="!row.avatar">
											<img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /></div>
										<div class="comment-content"><div class="arrow-comment"></div>
											<div class="comment-by">{{row.username}}<div class="comment-by-listing">on <a href="#">{{row.business_name}} </a></div> <span class="date">{{row.created_at}} </span>
												<div class="star-rating" data-rating="{{row.star_rating}}"></div>
											</div>
											<p>{{row.review}}</p>
											
											<div class="review-images mfp-gallery-container" ng-show="row.img_path">
												<a href="images/review-image-01.jpg" class="mfp-gallery"><img src="row.img_path" alt=""></a>
											</div>
											<div class="review-images mfp-gallery-container" ng-show="!row.img_path">
												<a href="images/review-image-01.jpg" class="mfp-gallery"><img src="images/review-image-01.jpg" alt=""></a>
											</div>
											<!-- <a href="#small-dialog" class="rate-review popup-with-zoom-anim" ng-click="replyModal(row)"><i class="sl sl-icon-action-undo"></i> Reply to this review</a> -->
										</div>
									</li>
								</ul>
							</div>
						</li>
				

					</ul>
				</div>

				<!-- Pagination -->
				<div class="clearfix"></div>
				<div class="pagination-container margin-top-30 margin-bottom-0">
               	<nav class="pagination">
		<ul >
			<li ng-show="currentPage != 1"><a href="javascript:void(0)" ng-click="init(1)">&laquo;</a></li>
			<li ng-show="currentPage != 1"><a href="javascript:void(0)" ng-click="init(currentPage-1)">&lsaquo; Prev</a></li>
			<li ng-repeat="i in range" ><a href="javascript:void(0)" ng-class="{'current-page' : currentPage == i}" ng-click="init(i)">{{i}}</a>
			</li>
			<li ng-show="currentPage != totalPages"><a href="javascript:void(0)" ng-click="init(currentPage+1)">Next &rsaquo;</a></li>
			<li ng-show="currentPage != totalPages"><a href="javascript:void(0)" ng-click="init(totalPages)">&raquo;</a></li>
		</ul>
					</nav>
		</div>
				<!-- Pagination / End -->

			</div>

			<!-- Listings -->
			<div class="col-lg-6 col-md-12">
				<div class="dashboard-list-box margin-top-0">
					<h4>Your Reviews</h4>
					<ul>

							<li ng-repeat="row in myreviewListing">
										
										<div class="comment-content"><div class="arrow-comment"></div>
										<div class="comment-by">Your review <div class="comment-by-listing own-comment">on <a href="#">{{row.business_name}} </a></div> <span class="date">{{row.created_at}}</span>
												<div class="star-rating" data-rating="{{row.star_rating}}"></div>
											</div>

											<p>{{row.review}}</p>
											
											<div class="review-images mfp-gallery-container" ng-show="row.img_path">
												<a href="images/review-image-01.jpg" class="mfp-gallery"><img src="row.img_path" alt=""></a>
											</div>
											<div class="review-images mfp-gallery-container" ng-show="!row.img_path">
												<a href="images/review-image-01.jpg" class="mfp-gallery"><img src="images/review-image-01.jpg" alt=""></a>
											</div>
											<!-- <a href="#small-dialog" class="rate-review popup-with-zoom-anim" ng-click="replyModal(row)"><i class="sl sl-icon-action-undo"></i> Reply to this review</a> -->
										</div>
									</li>

					</ul>
				</div>


				<!-- Pagination -->
				<div class="clearfix"></div>
				<div class="pagination-container margin-top-30 margin-bottom-0">
               	<nav class="pagination">
		<ul >
			<li ng-show="currentPage1 != 1"><a href="javascript:void(0)" ng-click="myreview(1)">&laquo;</a></li>
			<li ng-show="currentPage1 != 1"><a href="javascript:void(0)" ng-click="myreview(currentPage-1)">&lsaquo; Prev</a></li>
			<li ng-repeat="i in range1" ><a href="javascript:void(0)" ng-class="{'current-page' : currentPage1 == i}" ng-click="myreview(i)">{{i}}</a>
			</li>
			<li ng-show="currentPage != totalPages1"><a href="javascript:void(0)" ng-click="myreview(currentPage1+1)">Next &rsaquo;</a></li>
			<li ng-show="currentPage1 != totalPages1"><a href="javascript:void(0)" ng-click="myreview(totalPages1)">&raquo;</a></li>
		</ul>
					</nav>
		</div>
				<!-- Pagination / End -->


			</div>


			<!-- Copyrights -->
			<div class="col-md-12">
				<div class="copyrights">© 2017 Listeo. All Rights Reserved.</div>
			</div>
		</div>